<!doctype html>
<html>
    <head>
        <title>vocab test feedback</title>
        <link rel="stylesheet" href="../static/vocab.css">
    </head>
    <body>
        <main>
            <header>
                <h1>Vocab Meaning</h1>
                <p>Select the correct meaning for the kanji</p>
            </header>
            <div class="game-field">
                <h2>Final Score:</h2>
                <p class="very-large-font" id="final-score">10/10</p>
                <table id="feedback-table">
                    <tr>
                        <th>Question</th>
                        <th>Kanji/Kana</th>
                        <th>English</th>
                        <th>Correct?</th>
                    </tr>
                </table>
                <p class="main-btn"><a href="/">Back to Homepage</a></p>
                <p class="main-btn"><a href="/">Play Again</a></p>
            </div>
            <p>Powered by data from <a href="https://global.japanese-bank.com/learn-japanese/jlpt-n4-vocabulary-the-most-complete-list/">Japanese-bank.com</a></p>
        </main>
        <script src="../static/feedback.js"></script>
    </body>
</html>