<!doctype html>
<html>
    <head>
        <title>vocab test index</title>
        <link rel="stylesheet" href="../static/vocab.css">
    </head>
    <body>
        <main>
            <header>
                <h1>Vocab Meaning</h1>
                <p>Select a set to study</p>
            </header>
            <div class=homepage-btn-div>
                <p class="homepage-btn"><a href="/set/1">Set 1</a></p>
                <p class="homepage-btn"><a href="/set/2">Set 2</a></p>
                <p class="homepage-btn"><a href="/set/3">Set 3</a></p>
            </div>
            <p>Powered by data from <a href="https://global.japanese-bank.com/learn-japanese/jlpt-n4-vocabulary-the-most-complete-list/">Japanese-bank.com</a></p>
        </main>
    </body>
</html>