<!doctype html>
<html>
    <head>
        <title>vocab test</title>
        <link rel="stylesheet" href="../static/vocab.css">
    </head>
    <body>
        <main>
            <header>
                <h1>Vocab Meaning</h1>
                <p>Select the correct meaning for the kanji</p>
            </header>
            <div class=game-field id="vocab-game-field">
                
            </div>
            <p>Powered by data from <a href="https://global.japanese-bank.com/learn-japanese/jlpt-n4-vocabulary-the-most-complete-list/">Japanese-bank.com</a></p>
        </main>
        <script type="module" src="../static/vocab.js"></script>
    </body>
</html>